@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    height: auto;
    margin: auto;
    background-image: url(images/INS_bgedit.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
   /* -webkit-animation: kenburns-bottom 10s ease-in infinite both;
            animation: kenburns-bottom 10s ease-in infinite both;
            */
}
/*
@-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  */

section#overlay-main {
    background-color: rgb(4, 59, 36, .3);
}

header {
    position: fixed;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(4, 59, 36, .2);
}

div.nav--links {
    display: flex;
    align-self: center;
}

div.nav--links>p {
    margin: 1.5rem;
}

div.nav--links>p>a {
    color: #f2f8fa;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: .85rem;
}

div.landing-text {
    margin: auto;
    padding: 4rem 0;
    width: fit-content;
}

div.main-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem auto;
    background-image: url(images/INSFC-Logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.welcome {
    font-family: 'Raleway', sans-serif;
    padding: 1rem 0;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

p.bring {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

div.btns {
    display: flex;
    margin: auto;
    width: fit-content;
}

p.btn-register>a {
    color: #f2f8fa;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    border: 2px solid #fff;
    padding: .7rem 1rem;
    margin-right: 1rem;
}

p.btn-soon>a {
    color: #f2f8fa;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    border: 2px solid #fff;
    padding: .7rem 1rem;
    margin-left: 1rem;
}

p.btn-register>a:hover,
p.btn-soon>a:hover {
    color: #000000;
    background-color: #f2f8fa;
    transition: all 1s ease;
}

div.coming-soon {
    text-align: center;
}

p.soon {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: .8rem;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    animation: vibrate-1 0.8s linear infinite alternate-reverse backwards;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

#clockdiv{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem;
}

#clockdiv > div{
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background: #015f30;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 50%;
    background: #004422;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: .85rem;
}

.fa-angle-double-up {
    position: fixed;
    right: 100px;
    bottom: 30px;
    color: rgb(11,37,28);
    font-size: 2rem;
    z-index: 999;
    animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
@keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
}
.fa-angle-double-up:hover {
    transform: rotate(360deg);
    transition: all .8s ease;
    cursor: pointer;
}
section#aboutus {
    height: auto;
    padding: 4rem 0;
    background-color: rgb(207, 227, 203, .5);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: auto;
    gap: 2rem;
}

div.aboutus-text1 {
    border: 3px double #004422;
    margin: auto 0 auto 2rem;
    padding: 1rem 0;
}
div.aboutus-text2 {
    border: 3px double #004422;
    margin: auto 2rem auto 0;
    padding: 1rem 0;
}

h2.about {
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h3.values {
    text-align: center;
    padding: 1rem;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

p.sometext {
    text-align: center;
    padding: 1rem 2rem;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

div.btnmore {
    margin: 2rem auto;
    width: fit-content;
}

p.btn-readmore>a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    border: 2px solid #000000;
    padding: .7rem 1rem;
}

p.btn-readmore>a:hover {
    border: 2px solid #043b24;
    color: #ffffff;
    background-color: #043b24;
    transition: all .8s ease;
}
section#guidelines {
    position: relative;
    height: auto;
    padding: 5rem 0;
    background-color: #043b24;
}
section#teams {
    position: relative;
    height: auto;
    padding: 0 0 5rem 0;
    background-color: #043b24;
}
.custom-shape-divider-top-1598826921 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1598826921 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1598826921 .shape-fill {
    fill: #E6F1E5;
}
h2.our {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #f2f8fa;
}

p.sometextz {
    color: #f2f8fa;
    width: 40%;
    margin: 1rem auto 2rem;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

div.team-gallery {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a b c d"
        "e f g h";
    gap: 5px;
}

div.gallery-pic1 {
    grid-area: a;
    background-image: url(images/gBG5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic2 {
    grid-area: b;
    background-image: url(images/Fire-FC.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic3 {
    grid-area: c;
    background-image: url(images/SuperStarz-FC.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic4 {
    grid-area: d;
    background-image: url(images/DiamondGreen-FC.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic5 {
    grid-area: e;
    background-image: url(images/DreamTeam-FC.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic6 {
    grid-area: f;
    background-image: url(images/HollyWood-FC.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic7 {
    grid-area: g;
    background-image: url(images/LesBlues-FC.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery-pic8 {
    grid-area: h;
    background-image: url(images/gBG10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#kingofmatch {
    height: auto;
    padding: 3rem auto;
    background-color: #d0e9cb;
    border: 1px solid white;
}
h2.komtext {
    text-align: center;
    padding: 3rem 0 1rem 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #004422;
}
div.kingofmatch {
    width: 75%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas: "a b";
    gap: 3rem;
    height: 450px;
}
div.komicon {
    grid-area: a;
    border: 10px double #d0e9cb;
    position: relative;
    background-color: #004422;
}
.fa-crown {
    color: #d0e9cb;
    font-size: 4rem;
    position: absolute;
    top: 2.5rem;
    left: 11rem;
    animation: rotate-scale-up-ver 1s linear 1s 5 both;
}
@keyframes rotate-scale-up-ver {
    0% {
        transform: scale(1) rotateY(0);
    }
    50% {
        transform: scale(2) rotateY(180deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

div.kingofmatchframe1 {
    width: 60%;
    height: 260px;
    border: 5px double #d0e9cb;
    position: relative;
    top: 7rem;
    left: 5rem;
}
div.kingofmatchframe2 {
    width: 103%;
    height: 260px;
    border: 5px double #d0e9cb;
    position: relative;
    top: 1rem;
    left: 1rem;
}
div.kingofmatchpicx {
    width: 70%;
    height: 170px;
    border: 2px double #d0e9cb;
    position: absolute;
    top: 1.9rem;
    left: 1.7rem;
    border-radius: 50%;
    background-image: url(images/fincy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.kingofmatchdetails {
    grid-area: b;
    border: 10px double #d0e9cb;
    background-color: #004422;
}
div.komdetails {
    width: 85%;
    margin: 3rem auto;
}
h2.komheading {
    padding: 1rem 0;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #d0e9cb;
}
p.komtext {
    font-size: .85rem;
    font-family: 'Poppins', sans-serif;
    color: #d0e9cb;
    line-height: 2;
}
b {
    font-size: 1.2rem;
}
section#contact {
    height: auto;
    background-color: #043b24;
    padding: 5rem 0 3rem;
}

div.contact-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    grid-template-areas: auto;
    gap: 50px;
}

div.forms {
    width: 100%;
    margin: auto;
    background-color: rgb(207, 227, 203, .7);
}

form {
    margin: 3rem;
    padding: 1.5rem 0;
}

p.cont {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #043b24;
    color: #ffffff;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: .8rem 1rem;
    margin: 1rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: #043b24;
    outline: none;
    border: none;
}

textarea {
    width: 100%;
    padding: .8rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: #043b24;
    outline: none;
    border: none;
}

div.btnsend {
    text-align: center;
    padding: .8rem;
    margin: 1rem auto;
    background-color: #043b24;
}

p.send>a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    color: #ffffff;
}

div.text-cont {
    border: 5px double rgb(242, 248, 250, .5);
    margin: 2rem 1rem;
    padding: 1rem;
}

p.conta {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

p.info {
    color: #f2f8fa;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
}
.fa-twitter,
.fa-instagram,
.fa-whatsapp,
.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
    color: #f2f8fa;
    font-size: 1.3rem;
    padding: .89rem;
    margin: 7px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
} 

div.social-icons {
    display: flex;
}
div.footerlogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: .8rem 1rem;
    background-image: url(images/INSFC-Logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.passion {
    color: #f2f8fa;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    padding: 0 1rem;
}

p.copyright,
p.copyright-text {
    color: #141414;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

p.copyright>a {
    color: #093322;
    padding: 0 .7rem;
}

footer#footer-bar {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    background-color: rgb(207, 227, 203, .7);
}


/*MEDIA QUERRIES*/
@media (max-width: 768px) {
    div.aboutus-text {
        width: 85%;
    }

    p.sometextz {
        width: 60%;
    }

    div.team-gallery {
        height: 400px;
    }
    div.kingofmatch {
        width: 90%;
        margin: 2rem auto 5rem;
        gap: 1rem;
        height: auto;
    }
    .fa-crown {
        color: #d0e9cb;
        font-size: 3.2rem;
        position: absolute;
        left: 8rem;
    }
    div.kingofmatchframe1 {
        width: 60%;
        height: 200px;
        left: 3.5rem;
    }
    div.kingofmatchframe2 {
        width: 103%;
        height: 200px;
        left: 1rem;
    }
    div.kingofmatchpicx {
        width: 130px;
        height: 130px;
        top: 1rem;
        left: .8rem;
    }
    h2.komheading {
        font-size: 1.5rem;
        padding: .7rem 0;
    }
    p.komtext {
        font-size: .75rem;
        line-height: 1.7;
    }
    div.contact-details {
        gap: 5px;
    }

    form {
        margin: 2rem;
    }

    div.text-cont {
        margin: 1rem;
        padding: 0;
        border: 5px double rgb(242, 248, 250, .5);
    }

    /*.fa-map-marker-alt,
    .fa-phone,
    .fa-envelope {
        font-size: 1.1rem;
        padding: .7rem;
    }*/

    p.copyright,
    p.copyright-text {
        font-size: .75rem;
}

    footer#footer-bar {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        background-color: rgb(207, 227, 203, .7);
    }
}

@media (max-width: 425px) {

    div.nav--links>p {
        margin: 1rem .6rem;
    }

    div.nav--links>p>a {
        letter-spacing: 1px;
        font-size: .75rem;
    }

    div.main-logo {
        width: 100px;
        height: 100px;
    }

    h1.welcome {
        font-size: 2rem;
    }

    p.bring {
        font-size: .85rem;
        margin-bottom: 3rem;
    }

    p.btn-register>a,
    p.btn-soon>a {
        letter-spacing: 2px;
        padding: .7rem .8rem;
        margin-right: .5rem;
        font-size: .8rem;
    }
    p.soon {
        font-size: 1.3rem;
    }
    .fa-angle-double-up {
        font-size: 1.9rem;
        right: 0;
        left: -350px;
        bottom: 30px;
    }
    section#aboutus {
        display: flex;
        flex-direction: column;
    }
    div.aboutus-text1,
    div.aboutus-text2 {
        width: 90%;
        margin: auto;
    }

    h2.about {
        font-size: 2rem;
    }

    p.sometext {
        padding: 1rem;
        font-size: .75rem;
    }

    h3.values {
        font-size: 1.55rem;
    }

    p.btn-readmore>a {
        letter-spacing: 2px;
        font-size: .8rem;
        padding: .7rem .8rem;
    }

    p.sometextz {
        width: 85%;
        margin: 1rem auto 1rem;
    }
    h2.our {
        font-size: 1.7rem;
    }

    div.team-gallery {
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    /*div.gallery-pic1,*/
    div.gallery-pic2,
    div.gallery-pic3,
    div.gallery-pic4,
    div.gallery-pic5,
    div.gallery-pic6,
    div.gallery-pic7
    /*div.gallery-pic8*/ {
        height: 250px;
    }
    
    div.gallery-pic2,
    div.gallery-pic4,
    div.gallery-pic7 {
        display: block;
    }
    div.gallery-pic3,
    div.gallery-pic6,
    div.gallery-pic7 {
        background-position: top center;
    }
    div.kingofmatch {
        display: flex;
        flex-direction: column;
    }
    div.komicon {
        height: 75vh;
    }
    .fa-crown {
        color: #d0e9cb;
        font-size: 4rem;
        position: absolute;
        top: 2rem;
        left: 9rem;
    }
    div.kingofmatchframe1 {
        left: 4rem;
    }
    div.kingofmatchpicx {
        top: 1.2rem;
        left: 1.8rem;
    }
    h2.komheading {
        text-align: center;
        padding: 1rem 0;
    }
    div.contact-details {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    /*
    .fa-map-marker-alt,
    .fa-phone,
    .fa-envelope {
        margin: 10px;
        width: 40px;
        height: 40px;
    }
    .fa-whatsapp {
        font-size: 1.5rem;
        margin: 10px;
        width: 40px;
        height: 40px;
        padding: 8.25px;
    }
    */
    div.social-icons {
        justify-content: center;
    }
    p.passion {
        text-align: center;
    }
    div.footerlogo {
        width: 60px;
        height: 60px;
        margin: .8rem auto;
    }

    p.copyright {
        text-align: center;
    }
    footer#footer-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
        text-align: center;
    }
}

@media (max-width: 375px) {
    h1.welcome {
        font-size: 1.8rem;
    }
    .fa-crown {
        font-size: 3rem;
        left: 8rem;
    }
    div.kingofmatchframe1 {
        left: 3.5rem;
    }
    div.kingofmatchpicx {
        top: 1.2rem;
        left: .9rem;
    }
    h2.komheading {
        text-align: center;
        padding: 1rem 0;
    }
    p.passion {
        font-size: .7rem;
    }
    .fa-angle-double-up {
        left: -300px;
    }
}

@media (max-width: 320px) {

    div.nav--links>p {
        margin: 1rem .5rem;
    }

    div.nav--links>p>a {
        letter-spacing: 0px;
        font-size: .7rem;
    }

    div.main-logo {
        width: 100px;
        height: 100px;
    }

    h1.welcome {
        font-size: 1.6rem;
    }

    p.bring {
        font-size: .7rem;
        margin-bottom: 3rem;
    }

    p.btn-register>a,
    p.btn-soon>a {
        letter-spacing: 0px;
        padding: .6rem .7rem;
        margin-right: .5rem;
        font-size: .8rem;
    }
    p.info,
    p.passion {
        font-size: .7rem;
    }
    .fa-crown {
        left: 6.5rem;
    }
    div.kingofmatchframe1 {
        width: 205px;
        left: 1.4rem;
    }
    div.kingofmatchpicx {
        left: 1.4rem;
    }
    h2.komheading {
        text-align: center;
        padding: 1rem 0;
    }
    b {
        font-size: 1rem;
    }
    .fa-angle-double-up {
        left: -250px;
    }
    #clockdiv > div {
        margin: 20px 0;
        padding: 5px;
    }
}